.chapterButton {
    width: 100%;
    padding: 1.5rem 1.2rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 600;
    font-family: inherit;
    background-color: var(--background);
    -webkit-tap-highlight-color: transparent;
    box-shadow: var(--offset);
    text-decoration: none;
    transition: transform 200ms ease;
}

.chapterButton:active {
    box-shadow: var(--insetOffset);
}

.chaptersListContainer {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}