:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f7f8fa;
  --secondary: #e0e4ea;
  --accent: #4d67f8;
  --shadowDark: #c7ced7;
  --shadowLight: #ffffff;
  --offset: 2px 2px 7px 1px var(--shadowDark), -2px -2px 7px 1px var(--shadowLight);
  --insetOffset: inset var(--offset);

}

html,
body {
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 1rem;
  border-bottom: 1.5px solid #e1e7f180;
}