.header {
    text-align: center;
}

.title {
    font-weight: 600;
    font-family: serif;
    font-size: clamp(1rem, 5vw, 2.5rem);
}

.subtitle {
    font-weight: 600;
    font-size: clamp(1rem, 4vw, 2rem);
    margin-top: 0.5rem;
}