.verseContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 15vh);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.verseCard {
    border-style: solid;
    border-width: 4px;
    text-align: center;
    border-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    min-height: 100%;
    border-radius: 2rem;
    padding: 1rem;
    scroll-snap-align: start;
}

.verseSpeaker {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 1rem;
}

.verseSanskrit {
    font-size: clamp(1.2rem, 4.5vw, 2rem);
    font-weight: 600;
    margin-bottom: 5vh;
    white-space: pre-wrap;
    word-break: break-word;
}

.verseOdia {
    font-size: clamp(1.2rem, 4vw, 2rem);
    white-space: wrap;
    word-break: break-word;
}

.loading {
    font-weight: bold;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 2rem);
    margin-top: 2rem;
}

.error {
    text-align: center;
    margin: auto;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bold;
    color: red;
    word-break: break-word;
    white-space: wrap;
}