.verseContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 15vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.verseCard{
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    min-height: 100%;
    border-radius: 2rem;
}